<div class="container">
    <div class=" text-center mt-3 mb-3">
        <div class="container text-light">
            <h1 id="nomeUser">CHAT-IO</h1>
        </div>
    </div>
        <div class="container container-chat card " id="containerRecebe">
        </div>
    </div>
    <div class="container mt-1">
        <form >
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="form-control bg-scondary" type="text" name="texto" id="texto"></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-11">
                        <button class="btn btn-primary btn-sm btn-block" type="button" onclick="enviarMensagens()"><i class="bi bi-send-fill"></i></button>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger btn-sm btn-block" type="button" onclick="apagar()"><i class="bi bi-trash-fill"></i></button>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>


