<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="#"><h3>CHAT-IO</h3></a>
        </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto nav-perfil mr-10">
            <li class="nav-item dropdown">
                <a class="dropdown-item btn" type="button" onclick="logout()">Sair</a>
            </li>
        </ul>
      </form>
    </div>
  </nav>
