<div class="modal fade modal-cadastro" id="modal-cadastro" tabindex="-1" role="dialog" aria-labelledby="modal-title-cadastro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title-cadastro" id="modal-title-cadastro">Cadastro de usuario</h5>
          <button type="button" id="fechar-cadastro" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body-cadastro">
         <div class="container">
            <form action="" id="form-cadastro">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="nome">Nome</label>
                            <input class="form-control" type="text" name="nome" id="nome">
                        </div>
                        <div class="col-md-12">
                            <label for="email">E-mail</label>
                            <input class="form-control" type="text" name="email" id="email">
                        </div>
                        <div class="col-md-12">
                            <label for="senha">Senha</label>
                            <input class="form-control" type="text" name="senha" id="senha">
                        </div>
                        <div class="col-md-12 mt-4">
                            <button class="form-control btn text-light bg-dark" type="button" onclick="cadastro()">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </form>
         </div>
        </div>
      </div>
    </div>
</div>
